<footer>
	<div class="social">
		<a href="https://www.instagram.com/secretmenu.nl/"><i class="fab fa-instagram"></i></a>
	</div>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/restaurants">Restaurants</a></li>
		<li><a href="/profile">Profile</a></li>
	</ul>
	<p>© 2022 SecretMenu</p>
</footer>