<header>
	<section id="navbar">

		<ul>
			<li><a href="/"><img src="/public/images/logo_main.jpeg" alt=""></a></li>
			<li><a href="/">Home</a></li>
			<li><a href="/restaurants">Restaurants</a></li>
			<li><a href="/profile">Profile</a></li>
		</ul>
	</section>
</header>