<header>
	{{!-- <img class="logo" src="/public/images/logo_main.jpeg" alt=""> --}}
	<h1>Secret Menu</h1>
	<nav>
		<ul class="nav_links">
			<li><a href="/">Home</a></li>
			<li><a href="/restaurants">Restaurants</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</nav>
	<a href="#" class="cta"><button>Account</button></a>
</header>