<header>
	<h1><a href="/">SecretMenu</a></h1>
	<nav>
		<ul class="nav_links">
			<li><a href="/">Home</a></li>
			<li><a href="/restaurants">Restaurants</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
	<a href="/login" class="cta"><button>Account</button></a>
</header>