<main id="details">
	{{#each details}}
	<section>
		<h2>{{menu_item}}</h2>
		<h3>{{price}}</h3>
		<p>{{description}}</p>
	</section>

	{{/each}}
	<p>Want to make a quick reservation? <a href="#">Click here!</a></p>

</main>