<main id="home">
    <section class="home">
        <h1>Introducing.. Secret Menu!</h1>
        <p>Looking for vegan meals?</p>

        <button><a href="restaurants">Look at some restaurants</a></button>

        <div class="account_buttons">
            <button><a href="login">Login</a></button>
            <button><a href="register">Sign up</a></button>
        </div>
        
    </section>
</main>