<main id="home">
    <section class="home">
        <h1>Introducing.. Secret Menu!</h1>
        <p>Looking for vegan meals?</p>

        <a href="restaurants"><button>Take a look at some restaurants</button></a>

        <div class="account_buttons">
            <a href="login"><button>Login</button></a>
            <a href="register"><button>Register</button></a>
        </div>
        
    </section>
</main>