<section class="home">
    <h1>Welkom bij School Match!</h1>
    <p>Ben je op zoek naar een nieuwe opleiding?</p>
    <p>Meld je aan en wordt gematcht met scholen die bij jou passen.</p>
    <button><a href="register">Meld je nu aan</a></button>
</section>