<main id="home">
    <section class="home">
        <h1>Introducing.. Secret Menu!</h1>
        <p>Looking for vegan meals?</p>
        <button><a href="restaurants">Look at some restaurants</a></button>
        <img src="images/logo_alt.jpeg" alt="hello">
    </section>
</main>